<link rel="stylesheet" href="<%= assetPath('css/header.css')%>">

<div id="nav-header">
    <div id="header-logo">
        <h1><a href="/home">SocialWeb</a></h1>
    </div>
    <% if(locals.user) { %>
        <div id="header-credential">
            <div class="header-sign">
                <a href="/users/profile/<%= locals.user.id%>">
                    <button>
                        <i class="fas fa-user-circle"></i>
                        <span><%= locals.user.name%></span>
                    </button>
                </a>
            </div>
            <div class="header-sign">
                <a href="/sign-out">
                    <button>
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Sign out</span>
                    </button>
                </a>
            </div>
        </div>
    <% } else { %>
        <div id="header-credential">
            <div class="header-sign">
                <a href="/sign-in">
                    <button>
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Sign in</span>
                    </button>
                </a>
            </div>
            <div class="header-sign">
                <a href="/">
                    <button>
                        <i class="fas fa-user-plus"></i>
                        <span>Sign up</span>
                    </button>
                </a>
            </div>
        </div>
    <%}%>
</div>