<link rel="stylesheet" href="css/header.css">
<div></div>
<div id="nav-header">
    <div id="header-logo">
        <h1>SocialWeb</h1>
    </div>
    <div id="header-credential">
        <div class="header-sign">
            <a href="/sign-in">
                <button>
                    <i class="fas fa-sign-in-alt"
                    ></i>
                    <span>Sign in</span>
                </button>okk
            </a>
        </div>
        <div class="header-sign">
            <a href="/">
                <button>
                    <i class="fas fa-user-plus"></i>
                    <span>Sign up</span>
                </button>
            </a>
        </div>
    </div>
</div>



<% if(locals.user) { %> 
    <a href="/sign-out">sign-out</a>    
    <% } %>