<link rel="stylesheet" href="/css/change_password.css">

<div id="change-pass-container">
    <div id="change-pass">
            <h1>Change Password</h1><hr>
        <form action="/forget-password/newPassword" method="POST">
            <div class="input-fields">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="password" id="change-password-a" placeholder="New password" required>
            </div>
            <div class="input-fields">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="confirm_password" id="change-password-b" placeholder="re-enter password" required>
    
                <input type="hidden" name="accesstoken" value="<%= accesstoken%>">
                <input type="hidden" name="userId" value="<%= userId%>">
            </div>
            <div id="input-field-button">
                <button type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>