<div>
    <div>
        <div>
            <h1>Change Password</h1>
        </div>
        <form action="/forget-password/newPassword" method="POST">
            <div>
                <label for="change-password-a"></label>
                <input type="password" name="password" id="change-password-a" placeholder="New password" required>
            </div>
            <div>
                <label for="change-password-b"></label>
                <input type="password" name="confirm_password" id="change-password-b" placeholder="re-enter password" required>
    
                <input type="hidden" name="accesstoken" value="<%= accesstoken%>">
                <input type="hidden" name="userId" value="<%= userId%>">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>