<link rel="stylesheet" href="/css/forget_password.css">

<div id="forget-password-container">
    <div id="pass-container">
        <h1>Forget Password</h1> <hr>
        <form action="/forget-password/resetpass-email" method="POST">
            <div id="email-pass">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="forget-password-email" placeholder="Your mail" required>
            </div>
            <div id="email-submit">
                <button type="submit">
                    <i class="fas fa-user-plus"></i>
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>