<link rel="stylesheet" href="/css/forget_password.ejs">

<div id="forget-password-container">
    <div>
        <h1>Forget Password</h1>
        <form action="/forget-password/resetpass-email" method="POST">
            <div>
                <label for="forget-password-email"></label>
                <input type="text" name="email" id="forget-password-email" placeholder="Your mail" required>
            </div>
            <div>
                <button type="submit">Recovery Email</button>
            </div>
        </form>
    </div>
</div>