<link rel="stylesheet" href="/css/home_sign_up.css">

<div id="sign-up-container">   
    <div id="sign-up-details-left">
        <div id="sign-up-div">
            <h2>Sign up</h2>
            <form action="/users/create" method="POST">
                <div id="sign-up-fields">
                    <div class="form-fields">
                        <label for="name"></label>
                        <input type="text" name="name" class="inputs" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-fields">
                        <label for="email"></label>
                        <input type="text" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-fields">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-fields">
                        <label for="confirm_password"></label>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Password again" required>
                    </div>
                    <div class="form-fields">
                        <label for="phone"></label>
                        <input type="text" name="phone" id="phone" placeholder="Phone Number" required>
                    </div>
                </div>
                <div id="sign-up-button">
                    <button type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>
        <div>
            <p>if you have already account <a href="/sign-in">sign-in</a></p>
        </div>
    </div>
    <div id="sign-up-details-right">
        <div>
            <a href="/users/auth/google"><button>GOOGLE</button></a>
        </div>
    </div>
</div>