<link rel="stylesheet" href="/css/home.css">


<div id="home-container">
    <div id="left-home"></div>
    <div id="middle-home"></div>

    <div id="aside-home">
        <div id="search-user">
            <form action="">
                <span>
                    <i class="fas fa-search"></i>
                    <input type="text" id="search-input" name="search" placeholder="serch users">
                </span>
                <input type="submit" value="search" id="search-submit">
            </form>
        </div>
        <div id="users-list">
            <h3>All users</h3><hr>
            <div id="all-users">
                <ul>
                    <% for(u of all_user) { %> 
                        <li>
                            <div id="user">
                                <div id="user-pic">
                                    <img src="" alt="">
                                </div>
                                <div id="user-name">
                                    <a href="/users/profile/<%= u.id%>"><h2><%= u.name%></h2></a>
                                </div>
                                <div id="user-logo">
                                    <a href=""><i class="fas fa-user-plus"></i></a>
                                </div>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>