<link rel="stylesheet" href="<%= assetPath('css/home_sign_up.css')%>">

<div id="sign-up-container">
    <div id="sign-up-fields">
        <form action="/users/create" method="POST">
            <h2>Sign up</h2>
            <div class="form-fields">
                <i class="fas fa-user-alt"></i>
                <input type="text" name="name" class="inputs" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-fields">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Your Email" required>
            </div>
            <div class="form-fields">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="form-fields">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Password again" required>
            </div>
            <div class="form-fields">
                <i class="fas fa-phone-square"></i>
                <input type="text" name="phone" id="phone" placeholder="Phone Number" required>
            </div>
            <div class="form-fields-submit">
                <button type="submit">
                    <i class="fas fa-user-plus"></i>
                    <span>SIGN UP</span>
                </button>
            </div>
        </form>
        <hr>
        <div id="extra-sign-up">
            <span>If you have already account then <a href="/sign-in">sign-in</a></span>
        </div>
    </div>
    <div id="sign-up-details-left">
        <div id="company-info">
            <img src="<%= assetPath('images/sign-up-pic.png')%>" alt="SIgn-in">
        </div>
        <div id="auth-by-others">
            <hr>
            <p>or sign up using</p>
            <div class="authentication">
                <a href="/users/auth/google">
                    <button>
                        <i class="fab fa-google"></i>
                        <span>Google</span>
                    </button>
                </a>
            </div>
            <div class="authentication">
                <a href="/users/auth/github">
                    <button>
                        <i class="fab fa-github-square"></i>
                        <span>github</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div id="divider">
        <div class="or">OR</div>
    </div>
</div>



