<link rel="stylesheet" href="<%= assetPath('css/home_sign_in.css')%>">

<div id="sign-in-container">
    <div id="sign-in-div">
        <div id="sign-in-details">
            <form action="/users/create_session" method="POST">
                <h1>Sign in</h1>
                <div class="form-fields">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-fields">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div id="sign-in-button">
                    <button type="submit">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>SIGN IN</span>
                    </button>
                </div><hr>
            </form>
        </div>
        <div id="social-auth">
            <p>or sign in using</p>
            <div class="auth-login-button">
                <a href="/users/auth/google">
                    <button>
                        <i class="fab fa-google"></i>
                        <span>Google</span>
                    </button>
                </a>
            </div>
            <div class="auth-login-button">
                <a href="/users/auth/github">
                    <button>
                        <i class="fab fa-github-square"></i>
                        <span>github</span>
                    </button>
                </a>
            </div><hr>
        </div>
        <div id="forget-password">
            <a href="/forget-password/password-link">forget password?</a><br><br>
             <span>If you don't have account then<a href="/">sign up</a></span>
        </div>
    </div>
</div>