*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#nav-header{
    width: 100%;
    height: 11vh;
    background-color: DodgerBlue;
    display: flex;
    justify-content: space-between;
    #header-logo{
        width: 15%;
        padding: 20px;
        h1{
            font-size: 2rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
        h1:hover{
            transform: scale(1.1);
        }
    }
    #header-credential{
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .header-sign{
            width: 35%;
            margin-top: 20px;
            a{
                button{
                    width: 100%;
                    height: 80%;
                    background-color: DodgerBlue;
                    border: none;
                    cursor: pointer;
                    i{
                        font-size: 1.6em;
                    }
                    span{
                        margin-left: 5px;
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }
                button:focus{
                    outline: none;
                }
                button:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media only screen and (max-width: 430px){
    #nav-header{
        width: 100%;
        height: 9vh;
        background-color: DodgerBlue;
        display: flex;
        justify-content: space-between;
        #header-logo{
            width: 10%;
            padding: 10px;
            margin-top: 7px;
            h1{
                font-size: 1.2rem;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        #header-credential{
            width: 45%;
            .header-sign{
                width: 50%;
                margin-top: 15px;
                a{
                    button{
                        width: 100%;
                        height: auto;
                        margin: 0;
                        i{
                            font-size: 0.7rem;
                        }
                        span{
                            margin-left: 1px;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    
}