<div>
    <p>Hi</p>
    <br>
    <p>This is your <strong>reset Password</strong> link</p>
    <a href="http://localhost:8000/forget-password/mail-link/?accesstoken=<%= accesstoken%>">reset password</a>
    <br>
    <p>Thanks!</p>
</div>