* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

#nav-header {
  width: 100%;
  height: 11vh;
  background-color: DodgerBlue;
  display: flex;
  justify-content: space-between; }
  #nav-header #header-logo {
    width: 15%;
    padding: 20px; }
    #nav-header #header-logo h1 {
      font-size: 2rem; }
  #nav-header #header-credential {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #nav-header #header-credential .header-sign {
      width: 35%;
      margin-top: 20px; }
      #nav-header #header-credential .header-sign a button {
        width: 100%;
        height: 80%;
        background-color: DodgerBlue;
        border: none; }
        #nav-header #header-credential .header-sign a button i {
          font-size: 1.6em; }
        #nav-header #header-credential .header-sign a button span {
          margin-left: 5px;
          font-size: 1.6rem;
          font-weight: bold; }
